<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Conversor de Divisas</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body
    class="bg-slate-900 text-white flex items-center justify-center min-h-screen"
  >
    <div class="bg-slate-800 p-8 rounded-2xl shadow-lg w-full max-w-sm">
      <h1 class="text-2xl font-bold text-center mb-6">Conversor de Divisas</h1>

      <form class="space-y-4" method="POST">
        <!-- Cantidad -->
        <input
          type="number"
          name="cantidad"
          step="any"
          placeholder="Cantidad"
          value="{{ cantidad }}"
          required
          class="w-full p-3 rounded-lg bg-slate-700 border border-slate-600 focus:outline-none focus:ring-2 focus:ring-sky-400"
        />
        <!-- Moneda origen -->
        {% set listaMoneda = data.conversion_rates.keys() %}
        <select
          name="moneda_origen"
          class="w-full p-3 rounded-lg bg-slate-700 border border-slate-600 focus:outline-none focus:ring-2 focus:ring-sky-400"
        >
          {% for moneda in listaMoneda %}
          <option
            value="{{moneda}}"
            {% if moneda==moneda_origen %}selected {%endif%}
          >
            {{moneda}}
          </option>
          {% endfor %}
        </select>
         <!-- Moneda Destino -->
        {% set listaMoneda =data.conversion_rates.keys()%}
        <select
          name="moneda_destino"
          class="w-full p-3 rounded-lg bg-slate-700 border border-slate-600 focus:outline-none focus:ring-2 focus:ring-sky-400"
        >
          {% for moneda in listaMoneda %}
          <option
            value="{{moneda}}"
            {% if moneda==moneda_destino %} selected {%endif%}
          >
            {{moneda}}
          </option>
          {% endfor %}
        </select>
        <button
          type="submit"
          class="w-full bg-sky-400 text-black font-semibold p-3 rounded-lg hover:bg-sky-300 transition"
        >
          Convertir
        </button>
      </form>
      <div class="mt-6 text-center text-lg font-medium">{{result}} {{moneda_destino or '' }}</div>
    </div>
  </body>
</html>
